<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar white"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-header">
        <a class="navbar-brand" href="http://www.upm.es">
          <img src='assets/imgs/upmlogo.jpg' id='upmlogo' class='bordes_redondos'/>
          P&aacute;del U.P.M.
        </a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li id="elNavInicio"><a href="#elSectionInicio">INICIO</a></li>
        <li id="elNavServicios"><a href="#elSectionServicios">SERVICIOS</a></li>
        <li id="elNavInstalaciones"><a href="#elSectionInstalaciones">INSTALACIONES</a></li>
        <li id="elNavRegistro" *ngIf="!session"><a href="#elSectionRegistro">REGISTRO</a></li>
        <li id="elNavReservar" *ngIf="session"><a href="#elSectionReservar">RESERVAR</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="elNavLogin" *ngIf="!session">
          <app-login></app-login>
        </li>
        <li id="elNavLogout" *ngIf="session">
          <div id="elNavUsername">
            <span class="glyphicon glyphicon-user logo-navbar inline"></span>
            <div id="elNavUsernameText" class="inline">{{username()}}</div>
          </div>
          <button id="elButtonLogout" type="button" class="btn btn-navbar btn-round" (click)="logout()">
            <span class="glyphicon glyphicon-log-out"></span> LOG OUT
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section id="elSectionInicio" class="container-fluid">
  <div
    style="clip: rect(0, 1600px, 400px, 0); position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;">
    <div
      style="background-size: 100% auto; background-repeat: no-repeat no-repeat; background-image: url('assets/imgs/home-reverse.jpg'); position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; visibility: visible; transform: translate3d(0px, 0px, 0px);"></div>
  </div>

  <div class="container" style="height: 385px; padding: 100px">
    <h3 class="stoke-text-white">¿ Pensando en jugar al padel {{username()}}?</h3>
    <h1 class="stoke-text-white">Pádel UPM</h1>
    <a id="elButtonInicioRegistro" *ngIf="!session" class="btn btn-lg btn-navbar btn-round" href="#elSectionRegistro">REGISTRATE</a>
    <a id="elButtonInicioRegistro" *ngIf="session" class="btn btn-lg btn-navbar btn-round" href="#elSectionReservar">RESERVAR</a>
  </div>
</section>

<app-services></app-services>
<app-facilities></app-facilities>
<app-register *ngIf="!session"></app-register>
<app-reservation *ngIf="session"></app-reservation>

<!-- Footer -->
<footer class="text-center">
  <a id="elAnchorToTop" class="up-arrow" href="#myPage">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p><a href="http://www.upm.es" data-toggle="tooltip">http://www.upm.es</a></p>
</footer>

<app-message></app-message>
