<section id="elSectionServicios" class="container-fluid">
  <header class="h1 section-header stoke-text-white">
    SERVICIOS
  </header>
  <div class="container">
    <div class="row">
      <aside class="col-md-12">
        <img src="assets/imgs/red.jpg" class="img-responsive img-rounded" width="100%"/>
      </aside>
    </div>

    <div class="row">
      <section class="col-xs-12 col-sm-6 col-md-6">
        <header class="h3">Escuela base de adultos e infantil</header>
        <p class="text-justify font-italic">
          Nuestra escuela te ofrece múltiples opciones para aprender a practicar este deporte, clases
          colectivas
          de 3
          y 4 alumnos de 1 y 2 horas a la semana , clases particulares y clases de nivel competicion para
          aquellos
          jugadores que deseen perfeccionar y avanzar en su nivel de juego y en todos los casos impartidas por
          un
          profesorado altamente cualificado, incluyendo jugadores profesionales del circuito WPT, y
          debidamente
          formados para que el alumno aproveche y obtenga el mayor rendimiento posible de las clases.
        </p>
      </section>

      <section class="col-xs-12 col-sm-6 col-md-6">
        <header class="h3">Padel adaptado</header>
        <p class="text-justify font-italic">
          La Asociación Padel para Todos (ASPADO) trabaja desde el año 2004 por la integración social de las
          personas
          con discapacidad a través de la práctica del deporte.

          Esta entidad no lucrativa, declarada de Utilidad Pública Nacional, cuenta con más de 200 socios, que
          contribuyen a la sostenibilidad de la organización y al mantenimiento de distintos recursos para
          facilitar
          la atención a deportistas con discapacidad de todas las edades, desde niños de 5 años hasta adultos
          de
          55.

          En estos momentos Pádel para Todos cuenta con 18 escuelas de pádel adaptado en funcionamiento, en
          las
          que
          atiende cada año a más de un centenar de personas con distintos tipos de discapacidad.

          El Club de Padel UPM forma parte de la asociación desde 2011, y mantiene su actividad durante todo
          el
          curso.
          Desde septiembre y hasta junio, los alumnos reciben una formación que contribuye a su desarrollo
          físico
          y
          cognitivo.
        </p>
      </section>
    </div>
  </div>
</section>
